# Xcode and Swift
## Build generated
build/
DerivedData/

## Swift Package Manager
.swiftpm/
Packages/
Package.resolved

## CocoaPods
Pods/
*.xcworkspace
!default.xcworkspace

## Carthage
Carthage/Build/

## Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

## Archives
*.xcarchive

## User settings
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcuserdatad*
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## SwiftUI previews
*.swiftpm/xcode/previews

## macOS specific files
.DS_Store
.AppleDouble
.LSOverride

## Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Application specific
*.iml
.idea/

# Simulator logs
*.log
